# Build Folders
[Bb]in/
[Oo]bj/
artifacts/

# Publish Folder
publish/

# Tools folder (for development/testing)
Tools/

# User-specific files
*.suo
*.user
*.sln.docstates

# ReSharper is a .NET coding add-in
_ReSharper*

# Rider
.idea

# Temporary csproj during build
*wpftmp.csproj

# Notes
read.md
